@font-face
{
	font-family: "NanumGothic";
	src: url('../fonts/NanumGothic.ttf');
}

body {
    background-color: #efefef;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
	padding:0;
	
	font-family: "NanumGothic";
}

#wrap {
	width:1264px;
	margin:0 auto;
	
}

#main {
	float:left;
	width:1024px;

}

#toolbox, #profileinfo {
	float:left;
	width:240px;
	color:#fff;
	display:none;
}

#profileinfo {
	
	background:#e5e5e5 url(../images/profile_right.png) no-repeat;
	height:768px;
}

#profileinfo .close {
	font-size: 50px;
	line-height: .5;
	float:right;
	padding:10px;
	color:#f47920;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: normal;
	cursor: pointer;
}

#toolbox .header {
	background:url(../images/toolbox_header.png) no-repeat;
	height:70px;
	width:100%;
}

#toolbox .body {
	background:url(../images/toolbox_body.png) repeat-y;
	width:100%;
	color:#7e7e7e;
	height:698px;
	font-family: "NanumGothic";
	font-size:20px;
}

#toolbox .body ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
}

#toolbox .body li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;

	padding-top:30px;
	padding-bottom:10px;
	width:100%;
	text-align:center;
	cursor:pointer;
}

#toolbox .body li div {
	
	border-bottom:1px solid #7e7e7e;
	margin-left:30px;
	margin-right:30px;
	display:block;
}

#toolbox .body li:hover, #toolbox .selected {
	background-color:#e8e7e7;
}

#toolbox li:last-child div {
	border-bottom:none;
 }

#toolbox .body p {
	
}

#screen canvas {
float:left;
    margin: 0;
	padding:0;

    /* Hide the gap for font descenders. */
    display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	max-width:1024px !important;
	max-height:768px !important;
	
}

#toolbox {
	float:right;
}

#toolbox .header, #toolbox .body {
	float:left;
}

.dialog {
	display: none;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    
	background-color:#fff;
	border:1px solid #000;
	z-index:100;
	color:#000;
	padding:10px;
}

#characterDialogLayer {
	width: 444px;
}

#dialogLayer, #infoLayer {
    width: 732px;
}

.infoLayer .location, .infoLayer .reason, .infoLayer .comments {
	float:left;
	width:100%;
}

.infoLayer .comments {
	margin-top:10px;
}

.infoLayer .location .type {
	padding-top:20px;
}

.infoLayer ul {
	float:left;
	list-style:none;
	margin:0;
	padding:0px;
	width:100%;
	color:#7e7e7e;
	padding-top:15px;
}



.infoLayer li {
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

.infoLayer .small {
	width:28%;
}

.infoLayer .normal {
	width:36%;
}

.infoLayer .big {
	width:72%;
}

.infoLayer li p {
	margin:0;
	padding:0;
	padding-top:10px;
	font-size:22px;
}

.infoLayer textarea {
	background-color:#e8e7e7;
	color:#7e7e7e;
	border:none;
	height:120px;
	margin-left:55px;
	height:120px;
	width:410px;
	font-size:18px;
	font-family: "NanumGothic";
}

.align-left {
	text-align:left;
}

.infoLayer .text {
	padding-top:2px;
	font-size:18px;
	text-align:left;
	color:#7e7e7e;
	line-height:30px;
}

.infoLayer .questionBtn {
	float:left;
	height:34px;
	width:142px;
	font-size:20px;
	padding:5px;
	padding-top:8px;
	color:#ffe8d2;
	background:url(../images/question_button.png) no-repeat;
	font-family: "NanumGothic";
	text-align:center;
	margin-left:40px;
}

.infoLayer .questionBtn span {
	display:block;
	padding-right:20px;
}


 #characterDialogLayer ul {
	float:left;
 	width:100%;
 	list-style:none;
 	margin:0;
 	padding:0;
	padding-left:100px;
 	padding-top:20px;
 	padding-bottom:20px;
 }

 #characterDialogLayer li {
	float:left;
 	list-style:none;
 	margin:0;
 	padding:0;
 	margin-right:30px;
 	display:block;
 	
 }
 
 
 
 
 
 #characterDialogLayer li a {
	padding:10px;
 	display:block;
 }
 
.chosen {
	background-color:#e8e7e7;
	display:block;
}

@media (max-width: 767px) {
	.male, .female {
		width:50px !important;
  	}
  	
}