@font-face
{
	font-family: "NanumGothic";
	src: url('../fonts/NanumGothic.ttf');
}

body {
    background-color: #efefef;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
	padding:0;
}

#wrap {
	width:1264px;
	margin:0 auto;
	
}

#main {
	float:left;
	width:1024px;

}

#toolbox {
	float:left;
	width:240px;
	color:#fff;
	display:none;
}

#toolbox .header {
	background:url(../images/toolbox_header.png) no-repeat;
	height:70px;
	width:100%;
}

#toolbox .body {
	background:url(../images/toolbox_body.png) repeat-y;
	width:100%;
	color:#7e7e7e;
	height:698px;
	font-family: "NanumGothic";
	font-size:20px;
}

#toolbox .body ul {
	margin:0;
	padding:0;
	list-style:none;
}

#toolbox .body li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	margin-left:30px;
	padding:10px 50px;
	padding-top:40px;
	border-bottom:1px solid #7e7e7e;
	text-align:center;
}

#toolbox .body p {
	
}

#screen canvas {
float:left;
    margin: 0;
	padding:0;

    /* Hide the gap for font descenders. */
    display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	max-width:1024px !important;
	max-height:768px !important;
	
}

#toolbox {
	float:right;
}

#toolbox .header, #toolbox .body {
	float:left;
}

.dialog {
	display: none;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    
	background-color:#fff;
	border:1px solid #000;
	z-index:100;
	color:#000;
	padding:10px;
}

 #characterDialogLayer {
	width: 444px;
 }

#dialogLayer {
    width: 444px;
    height: 544px;
}

 #characterDialogLayer ul {
	float:left;
 	width:100%;
 	list-style:none;
 	margin:0;
 	padding:0;
	padding-left:100px;
 	padding-top:20px;
 	padding-bottom:20px;
 }

 #characterDialogLayer li {
	float:left;
 	list-style:none;
 	margin:0;
 	padding:0;
 	margin-right:30px;
 	display:block;
 	
 }
 
 #characterDialogLayer li a {
	padding:10px;
 	display:block;
 }
 
.chosen {
	background-color:#e8e7e7;
	display:block;
}
